<div class="stats-grid">
    {{#each stats}}
    <div class="stat-card">
        <div class="stat-value">{{this.value}}</div>
        <div class="stat-label">{{this.label}}</div>
    </div>
    {{/each}}
</div>
